body{

    height: 100%;
    background-color: rgb(27, 27, 27) ;

}

.popup{

    position: fixed;
    height: 280px;
    width: 400px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 8px;
    border: solid gray 3px;
    background-color: rgb(82, 82, 82);
    display:none;
    

}