.header{

    width: 100%;
    background-color: rgb(70, 69, 69);
    display: flex;
    justify-content: space-between;
  }

h1,h3{

    margin-top: 2em;
    text-align: center;
  }

ul{

    font-family: sans-serif;
    color: rgb(27, 27, 27);
    list-style-type: none;
    background-color: rgb(70, 69 , 69);
    
  }
  
li {
    
    text-align: center;
    display: inline;
    background-color: rgb(70, 69 , 69);
   
  }
  
  .navLinks{
  
    color: black;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-top: 7vh;
   ;
  
  }
  
  .navLinks a{
  
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin-left: 15px;
   
}

.header img {

    width:12%;
    display: flex;
    
  }