.header{

    width: 100%;
    background-color: rgb(70, 69, 69);
    display: flex;
    justify-content: space-between;
  }

h1,h3{

    margin-top: 2em;
    text-align: center;
  }

ul{

    font-family: sans-serif;
    color: rgb(27, 27, 27);
    list-style-type: none;
    background-color: rgb(70, 69 , 69);
    
  }
  
li {
    
    text-align: center;
    display: inline;
    background-color: rgb(70, 69 , 69);
   
  }
  
  .navLinks{
  
    color: black;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-top: 7vh;
   ;
  
  }
  
  .navLinks a{
  
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin-left: 15px;
   
}

.header img {

    width:12%;
    display: flex;
    
  }

  
  #login{

    position: fixed;
    height: 280px;
    width: 400px;
    right: 0;
    left: 0;
    top:50%;
    bottom: 50%;
    margin: auto;
    border: 4px solid green;
    background-color: rgb(27, 27, 27);
    display: none;

}

#botaoLogin{

  color:white;
  font-weight: bolder;
  font-family: sans-serif;
  text-decoration:none;
  background: black;
  border: solid green;
  border-radius: 5px;
  padding: 3px;

}

#BotaoFechar{

  margin-left: 23.2em;
  margin-top: 0px;
  background-color:green;
}

.loginTexto{

    font-size: larger;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.loginInput {

    margin-top: 25px;
    margin-left: 75px;
    padding: 3px;
    border: 2px rgb(27, 27, 27);
    border-radius: 1px green;

}

#login button{

    margin-left:6em;
    margin-top:20px;

}

