.footer{

    color: green;
    margin-top: 80px;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: center;
  }
  
  .icons{
  
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    position: absolute ;
    left:47%;
  
  }
  
  .insta,.face{
  
    width:40px;
    padding: 0px;
    
  }
  