.body{

    font-family:  sans-serif;
    color:rgb(240, 227, 227);
    font-weight: bold;
  
  }

.item{

    
    text-align: center;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}