.body{

    font-family:  sans-serif;
    color:rgb(240, 227, 227);
    font-weight: bold;
  
  }

#logo{

  margin-top:30px;
  width:6%;
}


.item{

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}

#botaoCompra{

  color: white;
  background: none;
  border: solid green;
  border-radius: 15px;
  padding: 5px;
  margin-top: 20px;
  transition: 0.3s;
  font-weight: bolder;
  width: 30%;

}

#botaoCompra:hover{

  color: black;
  background: green;

}